* {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

svg {
  margin-top: -1.5%;
}

nav {
  position: relative;
  top: 1.5vw;
  height: fit-content;
  box-shadow: .1vh .1vh .5vh #5874af77;
}

.nvbr {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
}

.navbar {
  height: 60px;
}

.nav-link{
  position: relative;
  color: #333333;
  z-index: 5;
}

.nav-link:hover{
  position: relative;
  color: #000000;
  z-index: 5;
}
.nav-link:active{
  position: relative;
  color: #000000;
  z-index: 5;
  background-color: transparent;
}

.logo {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.logo img {
  width: 100%;
  height: 40px;
}

.title {
  width: fit-content;
  margin: 0vw auto 0px auto;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -3%;
}

.title p {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 2vw;
  color: #B5C5D9;
}

.search-web {
  margin-left: 2%;
  position: relative;
  z-index: 2;
}

.layout-search {
  display: flex;
}

#search-web {
  width: 250px;
  height: 35px;
  background: #ffffff;
  border: 0.1vh solid #9f9f9f;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 1.125vw;
  box-sizing: border-box;
  box-shadow: .1vh .1vh .3vh #a1a1a177;
  font-size: 16px;
  font-family: 'Poppins';
}

.search-web i {
  margin-left: -15%;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.layout-search button {
  width: 40px;
  height: 35px;
  background-color: #1C3879;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 2%;
  box-shadow: .1vh .1vh .3vh #a1a1a177;
}

.navbar-collapse {
  justify-content: right;
  margin-left: 30px;
  margin-right: 25px;
  z-index: 3;
}

.user {
  border-radius: 50%;
  width: 40px;
}

.user-setting,
.logout,
.setting {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-item i {
  font-size: 20px;
  color: rgb(49, 49, 49);
}

.nav-item>* :active {
  background-color: rgba(176, 176, 176, 0.344);
  color: #000;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  margin-left: -70px;
}

/* end navbar */


/* content */
.content {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
.filter-content {
  width: 22%;
  height: 88.5vh;
  box-shadow: 1px 1px 10px rgba(142, 142, 142, 0.227);
  box-sizing: border-box;
  padding: 20px;
}

.header-filter {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.header-filter i{
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.header-filter p {
  margin: 0;
  font-size: 18px;
  font-family: 'nunito';
  font-weight: 400;
}

.major {
  padding: 20px 5px;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.header-major p{
  font-size: 18px;
  font-family: 'nunito';
  font-weight: 600;
}

.major p{
  font-size: 17px;
  font-family: 'nunito';
}

.menu-major {
  list-style-type: none;
  padding: 0px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-major{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 1px 1px 2px rgb(151, 151, 151);
}

.img-major img {
  width: 22px;
  border-radius: 100%;
}

.title-major p{
  margin: 0;
}

.list-major ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-price p {
  font-size: 18px;
  font-family: 'nunito';
  font-weight: 600;
}

.price-filter {
  padding: 20px 5px;
  border-bottom: 1px solid rgb(122, 122, 122);
}

.price-inp {
   display: flex;
   justify-content: center;
   gap: 20px;
   font-family: 'nunito';
   font-weight: 600;
}

.min-price,
.max-price{
  display: flex;
  flex-direction: column;
  width: 150px;
}

#min,
#max{
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
  font-size: 15px;
  font-family: 'quicksand';
}

.menu-category {
  list-style-type: none;
  padding: 0px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-category p {
  font-size: 18px;
  font-family: 'nunito';
  font-weight: 600;
}

.category-filter {
  padding: 20px 5px 0px;
}

.menu-category li {
  display: flex;
  justify-content: space-between;
  font-family: 'nunito';
  font-weight: 600;
}

.main-content {
  width : 78%;
  display: flex;
  justify-content: center;
}

.product-content {
  width: 1150px;
  padding: 10px 16px;
}

ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 16px;
  font-family: 'nunito';
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #01447e;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #025eaf;
  text-decoration: none;
}

.title-content p{
  margin: 0;
  font-size: 27px;
  font-weight: 600;
  font-family: 'nunito';
}

.filter-product{
  display: flex;
  justify-content: space-between;
}

.filter-label {
   display: flex;
   gap: 20px;
}

.label-menu {
  width: fit-content;
  height: fit-content;
  background-color: #0d6ec3;
  padding: 0px 10px;
  border-radius: 5px;
  color:  white;
  font-weight: 600;
}

.label-menu p {
  margin: 0;
}

.filter-dropdown{
  display: flex;

}

.filter-dropdown label{
  border: 1px solid rgb(48, 48, 48);
  border-right: none;
  padding: 0px 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.filter-dropdown select {
  width: 120px;
  padding: 0px 5px;
  color: #333333;
  font-style: 'quicksand';
  border: 1px solid rgb(48, 48, 48);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.filter-dropdown select:active{
  border: 1px solid rgb(48, 48, 48);
}

.product {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row-top-product{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  gap: 20px;
}

.card-product {
  width: 170px;
  height: 260px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.477);
  box-sizing: border-box;
  border-radius: 7px;
}

.card-product img{
  width: 170px;
  height: 170px;
  background-size: contain;
  border-radius: 7px;
}

.desc-product p{
  margin: 0;
}

.category-product p {
  font-size: 12px;
  color: rgb(171, 171, 171);
  font-family: 'nunito';
  margin: 2px 0px 0px 2px;
  font-weight: 600;
}

.name-product p {
  font-size: 16px;
  font-family: 'nunito';
  line-height: 1;
  margin: 0px 2px;
}

.price p{
  font-size: 16px;
  font-family: 'nunito';
  font-weight: 700;
}

.row-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 2px;
}

.btn-detail {
  display: flex;
  gap: 7px;
}

.other-btn button{
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
}

.other-btn button:first-child {
  color: #0d6ec3;
}

.other-btn button:last-child {
  color: rgb(255, 53, 53);
}
